<div class="container">
  <div class="left-panel">
    <div class="logo">
      <span class="checkmark">✔</span>
      <span class="logo-text">votify</span>
    </div>
    <div class="button-group">
      <button class="btn" [routerLink]="'/login'">Login</button>
    </div>
  </div>
  <div class="right-panel">
    <h1>Sistema de votação on-line</h1>
    <p>
      Votify é uma plataforma moderna e intuitiva desenvolvida para gerenciar processos de votação com segurança, transparência e praticidade. Ideal para organizações, instituições ou comunidades que desejam realizar eleições, enquetes ou votações de forma digital, o sistema oferece uma experiência simples tanto para os organizadores quanto para os participantes.
    </p>
  </div>
</div>

<router-outlet></router-outlet>
